doctype html
html
    head
        title= title
    body
        if html
            #app
                div
                    | !{html}
            script(src="/js/mainpage.js")
        else if message
            #error= message
            pre= error

