.m-header {
	height: 100vh;
	background: url('./bg.jpg') 50% / cover;
	position: relative;
}

.m-header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #030203;
	opacity: 0.6;
}


.m-header-topline {
	position: relative;
	height: 25px;
	background-color: #ffba37;
}

.m-header-inner {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: calc(100% - 25px - 25px);
}

.m-header-inner-name {
	display: flex;
	flex: 1 0 auto;
}

.m-header-inner-icons {
	display: flex;
	flex: 0 0 auto;
	height: 70px;
}

.m-header-name-img {
	width: 500px;
}

.m-header-bottomline {
	height: 0px;
	width: 100%;
	border-top: 1px solid #f0eeef;
	position: absolute;
	bottom: 23px;
}